{{! {{>partial_header}}
using System;
using System.Net.Http;


namespace {{^generalClientClasses}}{{packageName}}.Client{{/generalClientClasses}}{{#generalClientClasses}}{{GeneralClientClassesNamespace}}.GeneralClient{{/generalClientClasses}}
{
    public interface IHttpClientPool : IDisposable
    {
        HttpClient AcquireClient();
        
        void FreeClient(HttpClient acquiredClient);

        Uri BasePath { get; set; }
    }
}