<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="{{targetFrameworkNuget}}" developmentDependency="true" />
  {{#GenerateRestSharpUsage}}
  <package id="RestSharp" version="105.1.0" targetFramework="{{#isNet40}}net4{{/isNet40}}{{^isNet40}}{{targetFrameworkNuget}}{{/isNet40}}" developmentDependency="true" />
  <package id="JsonSubTypes" version="1.2.0" targetFramework="{{targetFrameworkNuget}}" developmentDependency="true" />
  {{/GenerateRestSharpUsage}}
  {{#generatePropertyChanged}}
  <package id="Fody" version="1.29.4" targetFramework="{{targetFrameworkNuget}}" developmentDependency="true" />
  <package id="PropertyChanged.Fody" version="1.51.3" targetFramework="{{targetFrameworkNuget}}" developmentDependency="true" />
  {{/generatePropertyChanged}}
</packages>
